.modal {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  
  
}

.black_screen{
  position: fixed;
  overflow-y: scroll;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.6);

}


.modal-main {

  position: absolute;;
  background: white;
  width: 600px;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal_img{
  width:100%;
}

.modal_container{
  background:white;
  width:100%;

  background-color: rgb(227, 227, 227);
  background-repeat: no-repeat;
  padding-bottom: 300px;

}


.modal_cover > h4 {
  margin:0px;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  color: #393A44;
  text-align: center;
}
.modal_cover{
  padding:25px;
  position: relative;
  height:auto;
  top:250px;
  margin-bottom:1250px;
  width:85%;
  background:white;
  margin: auto;
  padding-bottom:100px;

}

.modal_cover > .RecipeCard__info {
  width:300px;
  margin: auto;
  margin-top:15px;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}

.Header{
  width:100%;
  background:#24292e;
  padding-left:20px;
  color:white;
  height:55px;
  line-height: 55px;
}

.Header__title{
  display:flex;
}

.Header__search{
  margin-left:165px;
}

.SearchBar.global{
  margin-top:10px;
  font-size:12px;
  color:white;
  width:300px;
  background:#404448;
  border:0px solid black;
}

.logo_image{
  width:35px;
  position: relative;
  top:9px;
  margin-right:5px;
}

.logo_text{
  font-size:18px;
}

/* 
================== 
Original Author: Thomas Nguyen
================== 
*/



/* =============================== GLOBAL CSS BODY =============================== */

body{
  background:#F7F7F7;
}

.content{
  width:100%;
  display:flex;
}

/* =============================== Filter Bar =============================== */
.FilterBar{
  width:240px;
  padding:20px;
}

/* ===============================  Recipe Card  =============================== */


.RecipeContainer{
  flex:8;

  
  padding:20px;
  display:flex;
  flex-wrap: wrap;
}

.RecipeCard{
  width:300px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:20px;
  transition: all 0.2s ease-out;

}

.RecipeCard:hover{
  cursor:pointer;
  margin-top:-5px;
  margin-bottom:5px;
  cursor: pointer;
  filter: brightness(110%);

}

.RecipeCard:hover > .RecipeCard__description{
  box-shadow: 0 5px 10px 0px rgba(0,0,0,0.20);

}
.RecipeCard__title{
  position:relative;
  height:255px;
}


.RecipeCard__title_image{
  width:300px;
  height:255px;
  border-radius:10px 10px 0px 0px;
  object-fit: cover;
  }

.RecipeCard__title_title{
  position: absolute;
  top:190px;
  line-height:28px;
  text-align: left;
  left:20px;
  font-size: 24px;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0,0,0,1);
}

.RecipeCard__title__percent{
  position: absolute;
  right:15px;
  top:15px;
  
  font-size:14px;
  line-height:30px;
  color:white;

  padding:0px 10px 0px 10px;
  border-radius:5px;
  height:30px;
  background:#8DBA26;
}


.RecipeCard__description{
  color:black;
  background:white;
  height:30px;

  font-size: 14px;
  color: #7A7A7A;
  letter-spacing: 0;
  text-align: left;

  padding:15px;

  
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.20);
  border-radius: 0px 0px 5px 5px;

}


/* =============================== Filtered Bar =============================== */


.Search{
  position: relative;
  
}

.SearchBar{
  background: #FFFFFF;
  border: 1px solid #8DBA26;
  border-radius: 10px;

  font-size: 14px;
  color: #181818;
  letter-spacing: 0;
  text-align: left;
  opacity: 0.57;

  padding:10px;
  padding-left:30px;

  outline-color: transparent;
  outline-style: none;

  width:calc(100% - 40px); 

}

.search-icon{
  position: absolute;
  width: 50px;
  height: 50px;
  top:-5px;
  left:-8px;
}

/* =============================== Ingredients Module =============================== */



.ingredients__header{
  text-align: left;
  /* Ingredients: */
  font-size: 16px;
  color: #181818;
  letter-spacing: 0;
  text-align: left;
  line-height:10px;
  margin-top:35px;
  border-bottom:2px solid #979797;
  margin-bottom:10px;
}

.ingredient__tag{
  /* Rectangle 5: */


  border-radius: 10px;
  /* Chicken: */
  font-size: 12px;
  letter-spacing: 0;
  text-align: left;
  padding:10px;
  font-weight:500;

  margin-bottom:10px;

  display:flex;
  justify-content: space-between;
}

.ingredient__tag.blue{
  background: #C0D4FF;
  color: rgb(39, 89, 208);
}

.ingredient__tag.brown{
  background: #EAC097;
  color: #843D2F;
}

.ingredient__tag.green{
  background: #BFE5CE;
  color: #248441;
}

.RecipeCard__info{
  display:flex;
  justify-content: space-between;
}

.RecipeCard__info > .quick_stats{
  margin-right:20px;
  display:flex;
  flex-direction: column;
  font-size:13px;

}  




.quick_stats__number > .fas {
  margin-right:5px;
  color:#B9B9B9;
}

.quick_stats__number > .time{
  color:#4E4A4E;
}

.quick_stats__title{
  font-size:10px;
  margin-top:2px;
}

.RecipeCard__quick-description{
  margin-top:15px;
  font-size:12px;
}

.RecipeIngredients{
  margin-top:25px;
}

.Ingredient{
  padding-top:8px;
  padding-bottom: 8px;
  border-bottom:1px solid rgb(233, 233, 233);
}

.full-details{
  width:510px;
  margin-top:25px;
  height:50px;
  background:#8DBA26;
  border:0px solid black;
  position: absolute;
  color: white;
  font-size:16px;
  border-radius:5px;

  outline-color: transparent;
  outline-style: none;
}

.full-details:hover{
  cursor:pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
