.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* 
================== 
Original Author: Thomas Nguyen
================== 
*/



/* =============================== GLOBAL CSS BODY =============================== */

body{
  background:#F7F7F7;
  background: #E4E7EE;
}

.content{
  width:100%;
  display:flex;
}

/* =============================== Filter Bar =============================== */
.FilterBar{
  flex:2;
  padding:20px;
}

/* ===============================  Recipe Card  =============================== */


.RecipeContainer{
  flex:8;

  
  padding:20px;
  display:flex;
  flex-wrap: wrap;
}

.RecipeCard{
  width:300px;

  margin-left:10px;
  margin-right:10px;
  margin-bottom:20px;
  transition: all 0.2s ease-out;

}

.RecipeCard:hover{
  margin-top:-5px;
  margin-bottom:5px;
  cursor: pointer;
  filter: brightness(110%);

}

.RecipeCard:hover > .RecipeCard__description{
  box-shadow: 0 5px 10px 0px rgba(0,0,0,0.20);

}
.RecipeCard__title{
  position:relative;
  height:265px;
}


.RecipeCard__title_image{
  width:300px;
  height:265px;
  border-radius:10px 10px 0px 0px;
  object-fit: cover;
  }

.RecipeCard__title_title{
  position: absolute;
  top:190px;
  line-height:28px;
  text-align: left;
  left:20px;
  font-size: 24px;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

.RecipeCard__title__percent{
  position: absolute;
  left:20px;
  top:155px;
  
  font-size:14px;
  line-height:30px;
  color:white;

  padding:0px 10px 0px 10px;
  border-radius:5px;
  height:30px;
  background:#8DBA26;
}


.RecipeCard__description{
  color:black;
  background:white;
  height:65px;

  opacity: 0.52;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  text-align: left;

  padding:15px;

  
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.20);
  border-radius: 0px 0px 5px 5px;

}


/* =============================== Filtered Bar =============================== */


.Search{
  position: relative;
  
}

.SearchBar{
  background: #FFFFFF;
  border: 1px solid #8DBA26;
  border-radius: 10px;

  font-size: 14px;
  color: #181818;
  letter-spacing: 0;
  text-align: left;
  opacity: 0.57;

  padding:10px;
  padding-left:30px;

  outline-color: transparent;
  outline-style: none;

  width:calc(100% - 40px); 

}

.search-icon{
  position: absolute;
  width: 50px;
  height: 50px;
  top:-5px;
  left:-8px;
}

/* =============================== Ingredients Module =============================== */



.ingredients__header{
  text-align: left;
  /* Ingredients: */
  font-size: 16px;
  color: #181818;
  letter-spacing: 0;
  text-align: left;
  line-height:10px;
  margin-top:35px;
}

.ingredient__tag{
  /* Rectangle 5: */


  border-radius: 10px;
  /* Chicken: */
  font-size: 12px;
  letter-spacing: 0;
  text-align: left;
  padding:10px;
  font-weight:500;

  margin-bottom:10px;

  display:flex;
  justify-content: space-between;
}

.ingredient__tag.blue{
  background: #C0D4FF;
  color: rgb(39, 89, 208);
}

.ingredient__tag.brown{
  background: #EAC097;
  color: #843D2F;
}

.ingredient__tag.green{
  background: #BFE5CE;
  color: #248441;
}
  

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
